.detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.26);
    padding: 15px 15px;
}

.agregar {
    background-color: rgb(3, 134, 42);
    width: 100px;
    height: 46px;
    margin-left: -104px;
    border-radius: 5px;
    cursor: pointer;
}
.agregar:hover {
    background-color: rgba(29, 155, 4, 0.719);
}
.detail2{
    margin-left: 25px;
}

.check{
    background-color: blue;
    color:white;
    font-size: 20px;
    width: 100px;
    height: 46px;
    
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.check:hover {
    background-color: rgba(0, 0, 255, 0.397);
}
.continuar{
    background-color: blue;
    color: rgb(236, 224, 224);
    font-size: 20px;
    width: 100px;
    height: 46px;
    
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.continuar:hover {
    background-color: rgba(0, 0, 255, 0.397);
}
