.counter {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.control {
    display: flex;


}

.control button {

    padding: 5px;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgb(255, 0, 85);
    color: white;
    cursor: pointer;
}
.control button:hover {
    background-color: rgba(255, 0, 85, 0.699);
    color: #fff;
}
  

.counter span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;

    font-weight: bolder;
}